{% extends 'html/app/base.html' %}
{% load bootstrap4 %}

{% block title %}- index{% endblock %}

{% block content %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">

        {% for photo in photourl_list %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top"
                   src="https://res.cloudinary.com/demo/image/upload/c_fill,h_150,w_100/sample.jpg"
                   alt={{ photo.cloud_id }}>
              <div class="card-body">
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}