{% extends 'app/base.html' %}
{% load bootstrap4 %}
{% load cloudinary %}

{% block title %}- slideshow{% endblock %}

{% block extra_css %}
  {% load static %}
  <link href="{% static 'app/slideshow.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="slideshow" class="slideshow">
    {% for photo in photo_list %}
      {% cloudinary photo.image height=480 crop="scale" %}
    {% endfor %}
  </div>
{% endblock %}

{% block extra_script %}
  <script type='text/javascript'>
      $(function () {
          var img = $("#slideshow").children("img"), // 画像を取得
              num = img.length, // 画像の数を数える
              count = 0, // 現在何枚目を表示しているかのカウンター
              interval = 5000; // 次の画像に切り替わるまでの時間(1/1000秒)

          img.eq(0).addClass("show"); // 最初の画像にshowクラス付与

          var c = document.getElementsByClassName('image');
          for(var i = 0; i<c.length;i++) {
            c[i].style.width = "100px";
            c[i].style.height = "100px";
          }

          setTimeout(slide, interval); // slide関数をタイマーセット

          function slide() {
              img.eq(count).removeClass("show"); // 現在表示している画像からshowクラスを取り除く
              count++; // カウンターを一個進める
              if (count >= num) {
                  count = 0; // カウンターが画像の数より大きければリセット
              }
              img.eq(count).addClass("show"); // 次の画像にshowクラス付与
              setTimeout(slide, interval); // 再びタイマーセット
          }
      });
  </script>
{% endblock %}
