{% extends 'app/base.html' %}
{% load bootstrap4 %}

{% block title %}- slideshow{% endblock %}

{% block extra_css %}
  {% load static %}
  {% load cloudinary %}
  <link href="{% static 'app/slideshow.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="slideshow" class="slideshow">
    {% for photo in photo_list %}
      <img class="image" src={{ photo.image.url }} alt={{ photo.public_id }}>
{#      {% cloudinary photo.image width="auto" height="auto" responsive="true" crop="scale" %}#}
    {% endfor %}
  </div>
{% endblock %}

{% block extra_script %}
  <script type='text/javascript'>
      $(function () {
          var img = $("#slideshow").children("img"),
              num = img.length,
              count = 0,
              interval = 10000;

          img.eq(0).addClass("show");

          var images = document.getElementsByClassName('image');

          for (var i = 0; i < images.length; i++) {
              var w = images[i].clientWidth;
              var h = images[i].clientHeight;

              var width_ratio = window.innerWidth / w;
              var height_ratio = window.innerHeight / h;
              var min_ratio = Math.min(width_ratio, height_ratio);
              images[i].style.width = w * min_ratio;
              images[i].style.height = h * min_ratio;
          }

          setTimeout(slide, interval);

          function slide() {
              img.eq(count).removeClass("show");
              count++;
              if (count >= num) {
                  location.reload(true);
              }
              img.eq(count).addClass("show");
              setTimeout(slide, interval);
          }
      });
  </script>
{% endblock %}
