{% extends 'app/base.html' %}
{% load bootstrap4 %}

{% block title %}- timeline{% endblock %}

{% block content %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">

        {% for photo in photo_list %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top"
                   src={{ photo.image.url }}
                           alt={{ photo.public_id }}>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
  <script type='text/javascript'>
      (function () {
          var t = setInterval(function () {
              location.reload(true);
          }, 10000);
      })();
  </script>
{% endblock %}